*
!*/


!/.gitignore
!/LICENSE-MIT
!/LICENSE-APACHE
!/Readme.md

!/ArcActivityExample/ArcActivityExample.uproject
!/ArcActivityExample/Content/**
!/ArcActivityExample/Source/**
!/ArcActivityExample/Config/**

/ArcActivityExample/Plugins/ArcActivities/
